#contain {
    position: absolute;
    top: 200px;
    /*padding-left: 70px;*/
    /*padding-right: 70px;*/
    left: 360px;
    height: 60%;
    /*background-color: #6d7fcc;*/
}

td{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/*#alert{*/
/*    width: 400px;*/
/*    height: 400px;*/
/*    position: absolute;*/
/*    background-color: #4cae4c;*/
/*    top: 160px;*/
/*    left: 600px;*/
/*}*/

.zhezhao{
    position: fixed;
    left: 0px;
    top: 0px;
    background: #000 !important;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    filter: blur(2px);
}
.tankuang{
    position: absolute;
    background: white;
    top: 160px !important;
    left: 600px ;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    top: 50%;
    z-index: 10;

}
#header{
    position: relative;
    height: 40px;
    display: flex;
}
#header-right{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: red;
    color: #fff;
    right: 5px;
    top: 5px;
    text-align: center;
}